.DS_Store
gen/route_nc
gen/route_nc_in.bin
gen/route_nc_out.bin
gen/route_nc_over.txt
gen/route_nc_hist*.bin
gen/route_nc_run.log
gen/board_nc4000.kicad_pcb
gen/board_fine8000.kicad_pcb
gen/board_final22k.kicad_pcb
gen/board_6L.kicad_pcb
gen/board_prenudge.kicad_pcb
gen/board_presignal_orig.kicad_pcb
gen/board_presignal_4L.kicad_pcb
gen/route_failures.json
gen/gaps*.json
gen/drc*.json
gen/preview_comments.jsonl
gen/.history/
